.good{
   margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    width: 350px;
   padding: 40px;
    border-radius: 10px;
}
input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border:1px solid gray;


}
textarea{
    width: 250px;
      border-radius: 5px;
}
button{
    width: 250px;
      border-radius: 5px;
       height: 30px;
       background-color: blue;
       color: white;
       border: none;
       cursor: pointer;
}
.header{
    text-align: center;
    font-size: xx-large;
    
}
